/* COLORS */
$headingColor-1: rgba(2, 114, 114, 1);
$headingColor-2: rgba(2, 140, 126, 1);
$headingColor-3: rgba(169, 216, 208, 1);
$backgroundColor: rgba(242, 230, 220, 1);
$fontColor: rgba(12, 12, 12, 1);

