/* COLORS */
$headingColor-1: #027272;
$headingColor-2: #028c7e;
$headingColor-3: #a9d8d0;
$backgroundColor: rgb(236, 236, 236);
$fontColor: #0c0c0c;

$headingGradient: linear-gradient(45deg, rgba(255, 255, 255, 0) 10%, rgba(2, 114, 114, 1) 50%, rgba(255, 255, 255, 0) 90%);
