@media screen and (min-width: 1000px) {
  nav {
    width: 100%;
    display: block;
    position: fixed;
    z-index: 30;

    ul {
      display: flex;
      justify-content: space-evenly;
      flex-flow: row nowrap;
      background-color: $headingColor-3;

      li {
        width: 100%;
        height: 100%;
        list-style: none;
        transition: background-color 0.5s ease-in-out;

        
        &:hover {
          background-color: $backgroundColor;
          transition: background-color 0.5s ease-in-out;
        }

        a {
          width: 100%;
          padding: 12px 0;
          display: block;
          text-align: center;
          font-weight: 700;
          font-size: 2rem;
          color: $headingColor-1;
        }
      }
    }
  }

  header {
    position: static;
    top: 48px;
    @include img-settings (100%, 40vw, center, cover);
    background-image: url(../assets/img/header-background.jpg);
    
    .header-container {
      height: 100%;
      padding: 0 96px;
      align-items: center;
      justify-content: space-between;

      .header-img {
        width: 160px;
        height: 160px;
        position: static;
      }

      .header-heading {
        padding: 0;
        .header-title {
          font-size: 5rem;
          color: $backgroundColor;
          text-shadow: 4px 4px 7px rgba(0, 0, 0, 0.6);
          &::after {
            content: " Gómez Ramírez";
          }
        }

        .header-subtitle {
          font-size: 4rem;
          color: $headingColor-3;
          text-shadow: 4px 4px 7px rgba(0, 0, 0, 0.6);
        }
      }
    }
  }

  main {

    #about {
      article {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;

        [class^="about-"] {
          width: 48%;
        }
      }
    }

    #projects {

      .project-container {
        justify-content: space-between;

        .project-card {
          width: 32%;
        }
      }
    }

    #contact {
      // form {
      //   display: flex;
      //   flex-flow: row nowrap;

      // }
    }
  }
}