@media screen and (min-width: 700px) {
  header {
    padding: 12px 24px;
    background: linear-gradient(3deg, rgb(236, 236, 236) 30%, rgb(169, 216, 208) 58%);

    .openbtn {
      display: none;
    }

    .header-container {
      position: relative;
      justify-content: flex-end;

      .header-img {
        display: inline-block;
        position: absolute;
        top: 0px;
        left: calc(24px + 8vw);
        @include profile-photo(80px, 80px);
      }

      .header-heading {
        padding-right: 10vw;
      }

      .header-title {
        font-size: 4rem;
      }
    }
  }

  .header-technologies.tablet {
    @include padding-section (50px 48px 50px);
    display: flex;
    gap: 70px;
  }

  main {
    #photo-mobile-section {
      display: none;
    }

    #projects {
      @include padding-section (100px 24px 0px);

      .project-container {
        // width: 100%;
        display: flex;
        justify-content: space-around;
        flex-flow: row wrap;
        gap: 12px;

        .project-card {
          width: 48%;

        }
      }
    }

    #skills {
      @include padding-section (100px 24px 0px);
    }

    #education {
      @include padding-section (100px 24px 0px);

      .institutes-container {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        gap: 12px;

        article {
          width: 48%;
        }
      }
    }

    #contact {
      @include padding-section (100px 24px 0px);

      form {
        padding-bottom: 24px;

        [type="submit"] {
          width: 70%;
          margin: 0 auto;
          display: block;
        }
      }
    }
  }
}